<div class="container">
    <div class="row">
      <div clas="col">
        <div class="center-text">
          <h1>Shippers Page</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mat-elevation-z8">
          <div class="button" style="display: flex; justify-content: flex-end;">
            <button mat-raised-button color="primary" (click)="onInsert()">Add Shipper <mat-icon>person_add</mat-icon></button>
          </div>
          <table mat-table [dataSource]="shippersDataSource">
            <ng-container matColumnDef="shipperID">
              <th mat-header-cell *matHeaderCellDef> ShipperID </th>
              <td mat-cell *matCellDef="let shippers"> {{ shippers.ShipperID }} </td>
            </ng-container>
            <ng-container matColumnDef="companyName">
              <th mat-header-cell *matHeaderCellDef> Company Name </th>
              <td mat-cell *matCellDef="let shippers"> {{ shippers.CompanyName }} </td>
            </ng-container>
            <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef> Phone </th>
              <td mat-cell *matCellDef="let shippers"> {{ shippers.Phone }} </td>
            </ng-container>
            <ng-container matColumnDef="update">
              <th mat-header-cell *matHeaderCellDef> Update </th>
            <td mat-cell *matCellDef="let shippers">
              <button mat-raised-button color="accent" (click)="onUpdate(shippers)"><mat-icon>edit</mat-icon></button>
            </td>
            </ng-container>
            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef> Delete </th>
              <td mat-cells *matCellDef="let shippers">
                <button mat-raised-button color="warn" (click)="onDelete(shippers.ShipperID)"><mat-icon>delete</mat-icon></button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
            aria-label="Select page of shippers">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
